.link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: var(--font-size-body-body1);
  line-height: var(--line-height-body-body1);
  color: var(--link-default);
  white-space: nowrap;
}
.link span {
  text-decoration: underline;
  text-underline-offset: 2px;
}
